* {
	text-align: center;
	overflow: auto;
	user-select: none;
	-moz-user-select: none;
	font-family: Helvetica;
}
body {
	background-color: #aca;
}
h1 {
	font-size: 30px;
}
h3 {
	font-size: 20px;
}
img {
	display: inline-block;
}
div.dso {
	display: block;
	height: 15%;
	border: 2px solid black;
	animation: 0.04s linear 0s open;
	padding: 10px;
}
div.dsc {
	display: block;
	height: 0%;
	border: 0px solid black;
	animation: 0.05s linear 0s close;
	padding: 0px;
}
div.dso.addedclass, div.dsc.addedclass {
	display: block;
}
div.expander {
	width: 60%;
	display: block;
	margin-left: 20%;
	border: 2px solid black;
	/*background-color: #cfc;*/
	padding: 10px;
}
div.container {
	margin-left: 20%;
	width: 60%;
	display: block;
}
div.dsc > * {
	display: none;
}

div.main {
	margin: 5%;
	background-color: #ffe;
	min-height: 80%;
	overflow: auto;
}
@keyframes open {
	0% {
		height: 0%;
		border: 0px solid black;
		padding: 0px;
	}
	100% {
		height: 15%;
		border: 2px solid black;
		padding: 10px;
	}
}

@keyframes close {
	0% {
		height: 15%;
		border: 2px solid black;
		padding: 10px;
	}
	100% {
		height: 0%;
		border: 0px solid black;
		padding: 0px;
	}
}
